Node-Red/flows.json
[{"id":"5ca7d61a.0a2b88","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"c8928951.d4db98","type":"tab","label":"Assistant","disabled":false,"info":""},{"id":"30eee549.30e00a","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#9437ff","baseFont":"Impact,Impact,Charcoal,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#a9a9a9","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#6db046","edited":true},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#4b7930","edited":true},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":46,"sy":47,"gx":2000,"gy":25,"cx":22,"cy":9,"px":15,"py":11}}},{"id":"a7ae3bef.7de2d8","type":"ui_tab","z":"","name":"Tabname","icon":"dashboard","disabled":true,"hidden":false},{"id":"f73073a0.092ac","type":"ui_group","z":"","name":"Group","tab":"","order":1,"disp":true,"width":"7","collapse":false},{"id":"db62a91b.7e3d58","type":"ui_group","z":"","name":"Groupname","tab":"","order":1,"disp":true,"width":15,"collapse":false},{"id":"ed955abe.0324f8","type":"ui_spacer","name":"spacer","group":"db62a91b.7e3d58","order":3,"width":2,"height":1},{"id":"52b4792c.bb3df8","type":"ui_spacer","name":"spacer","group":"db62a91b.7e3d58","order":4,"width":2,"height":1},{"id":"93fe925a.2bde","type":"ui_spacer","name":"spacer","group":"db62a91b.7e3d58","order":5,"width":2,"height":1},{"id":"25ac73ca.a843fc","type":"ui_spacer","name":"spacer","group":"db62a91b.7e3d58","order":6,"width":2,"height":1},{"id":"4ed064ab.0896cc","type":"ui_tab","z":"","name":"Customer Care","icon":"dashboard","disabled":false,"hidden":false},{"id":"1877e7c.2888918","type":"ui_group","z":"","name":"What bot says","tab":"4ed064ab.0896cc","order":2,"disp":true,"width":9,"collapse":false},{"id":"6df9f2d7.8e6b8c","type":"ui_group","z":"","name":"User","tab":"4ed064ab.0896cc","order":1,"disp":true,"width":"6","collapse":false,"info":"### lala****"},{"id":"d19ed72e.909718","type":"ui_spacer","name":"spacer","group":"6df9f2d7.8e6b8c","order":2,"width":6,"height":1},{"id":"bf88df66.7c8de","type":"ui_form","z":"5ca7d61a.0a2b88","name":"","label":"","group":"db62a91b.7e3d58","order":2,"width":13,"height":4,"options":[{"label":"Enter The Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Email","value":"Email","type":"email","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"Name":"","Email":"","Password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":151,"y":153,"wires":[["ad03f24a.3b822"]],"l":false},{"id":"cc970f1d.1ecc4","type":"debug","z":"5ca7d61a.0a2b88","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":572,"y":147,"wires":[],"l":false},{"id":"ad03f24a.3b822","type":"function","z":"5ca7d61a.0a2b88","name":"","func":"msg.payload=msg.payload.Name\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":152,"wires":[["cc970f1d.1ecc4","33c75cf3.7f6024"]],"l":false},{"id":"33c75cf3.7f6024","type":"ui_text","z":"5ca7d61a.0a2b88","group":"db62a91b.7e3d58","order":1,"width":0,"height":0,"name":"","label":"Hi","format":"{{msg.payload}}","layout":"col-center","x":416,"y":312,"wires":[],"l":false},{"id":"3813202b.dfc58","type":"function","z":"c8928951.d4db98","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":271,"y":256,"wires":[["4a74d9b7.5fd578","58861c77.a6b7e4"]],"l":false},{"id":"4677636e.a6ed4c","type":"function","z":"c8928951.d4db98","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":257,"wires":[["d756d752.8dff88","47250e97.34345"]],"l":false},{"id":"d756d752.8dff88","type":"debug","z":"c8928951.d4db98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":725,"y":89,"wires":[],"l":false},{"id":"4a74d9b7.5fd578","type":"ui_text","z":"c8928951.d4db98","group":"6df9f2d7.8e6b8c","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":451,"y":487,"wires":[],"l":false},{"id":"860c9632.f14468","type":"ui_form","z":"c8928951.d4db98","name":"","label":"","group":"6df9f2d7.8e6b8c","order":1,"width":0,"height":0,"options":[{"label":"Enter the Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":124,"y":346,"wires":[["3813202b.dfc58"]],"l":false},{"id":"58861c77.a6b7e4","type":"watson-conversation-v1","z":"c8928951.d4db98","name":"Assistant","workspaceid":"e35ca294-3f62-4e30-b282-b286df68b1e4","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/834c7e86-8ca3-42cc-a69f-9211a42516a1","timeout":"","optout-learning":false,"x":477,"y":200,"wires":[["4677636e.a6ed4c"]],"l":false},{"id":"44fb5068.c01e5","type":"inject","z":"c8928951.d4db98","name":"","topic":"","payload":"How to turn on heater","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":186,"y":100,"wires":[["58861c77.a6b7e4"]],"l":false},{"id":"47250e97.34345","type":"ui_text","z":"c8928951.d4db98","group":"1877e7c.2888918","order":1,"width":9,"height":4,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":708,"y":377,"wires":[],"l":false}]